* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* #006699 */
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background-color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.info {
    height: 250px;
    
}

.purple-divider
{
    width: 140px;
    height: 5px;
    background-color: #3d0881;
    margin: 20px auto;
    border-radius: 5px;
}

/* .photo-perso {
    
} */

.photo-perso img {
    clip-path:ellipse(33% 50%);
    width: 400px;
    height: 250px;
}

/* .photo-perso a {
    
} */


/* FONT */ 

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

strong {
    font-size: 30px;
    line-height: 1;
}

/* H1 H2 etc.. */ 

header h1 {
    margin-top: 17px;
    margin-left: 25px;
}

.info h1, h2, h3 {
    color: #3d0881;
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    
}


.margin {
    height: 450px;
}


/* ****************** HEADER ***************** */

header {
    background-color: #3d0881;
    color: #fff;
    display: flex;
    text-align: center;
}

header nav {
    height: 80px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    width: 100%;
}

header nav ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    vertical-align: middle;
    align-items: stretch;
}


header  li {
    margin: 0 10px;
  

}

header  a {  
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

/* Faire que le hover transforme tte la case en blanc pas juste un peu autour */
header  a:hover {    
    background-color: #fff;
    border-radius: 3px;
    color: #3d0881;
}

header nav ul li:hover a {    
    color: #3d0881;
}

/* ****************** MAIN ****************** */

main {
    max-width: 70%;
    margin: 0 auto;
    /* padding: 30px 15%; */
    /* text-align: center; */
}

/* ****************** SECTION ****************** */

section {
    margin: 40px 0 40px 0;
    /* border-bottom: solid 1px black; */
    display: flex;
    flex-direction: column;
}

section h2 {
    font-size: 30px;
    font-weight: 600;
    color: #f4f6f7;
    text-align: center;
}

section p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
}

#hobbies {
    height: 250px;
}

#experience {
    height: 350px;
}

#skills {
    height: 380px;
}

#infos {
    height: 250px;
}

/* ****************** PORTFOLIO ****************** */

.container {
    width: 1321px;
}


.portfolio-item {
    display: inline-block;
    margin: 40px 20px 0px 55px;
}

.portfolio-item img {
    width: 350px;
    height: 230px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
    border: solid 2px #020005;
}

.portfolio-item img:hover { /* Ajouter le zoom */
    filter: none;
    cursor: pointer;
    transition: 0.5s;
}

/* ****************** ENTETE ****************** */

.entete {
    background: linear-gradient(to right, #723aec, #6b048a);
    height: 50px;
    
}

.entete h2 {
    padding-top: 7px;
}

footer {
    height: 50px;
    background-color: #3d0881;
    color: #fff;
}

/* ****************** FOOTER ****************** */

footer p {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 15px;
}

/* ****************** BAR ****************** */

.gauche {
    float: left;
    width: 500px;
}

.droite {
    float: right;
    margin-right: 50px;
}


/* html */

.progress-bar-html {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 50px 0 10px 70px;
    display: flex;
    align-items: center;
}


.progress-bar-fill-html {
    height: 100%;
    width: 70%;
    background-color: #3d0881;
    border-radius: 10px;
}

.progress-bar-html p {
    color: #e7e5eb;
    font-size: 20px;
    font-weight: bold;
    margin-left: -200px; /* A CORRIGER */
}

/* css */

.progress-bar-css {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 50px 0 10px 70px;
    display: flex;
    align-items: center;
}


.progress-bar-fill-css {
    height: 100%;
    width: 60%;
    background-color: #3d0881;
    border-radius: 10px;
}

.progress-bar-css p {
    color: #e7e5eb;
    font-size: 20px;
    font-weight: bold;
    margin-left: -160px; /* A CORRIGER */
}

/* php */

.progress-bar-php {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 50px 0 10px 70px;
    display: flex;
    align-items: center;
}


.progress-bar-fill-php {
    height: 100%;
    width: 35%;
    background-color: #3d0881;
    border-radius: 10px;
}

.progress-bar-php p {
    color: #e7e5eb;
    font-size: 20px;
    font-weight: bold;
    margin-left: -105px; /* A CORRIGER */
}


/* REACT */

.progress-bar-react {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 50px 0 10px 70px;
    display: flex;
    align-items: center;
}


.progress-bar-fill-react {
    height: 100%;
    width: 20%;
    background-color: #3d0881;
    border-radius: 10px;
}

.progress-bar-react p {
    color: #e7e5eb;
    font-size: 20px;
    font-weight: bold;
    margin-left: -80px;  /* A CORRIGER */
}

/* bootstrap */

.progress-bar-bootstrap {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 50px 0 10px 70px;
    display: flex;
    align-items: center;
}


.progress-bar-fill-bootstrap {
    height: 100%;
    width: 50%;
    background-color: #3d0881;
    border-radius: 10px;
}

.progress-bar-bootstrap p {
    color: #e7e5eb;
    font-size: 20px;
    font-weight: bold;
    margin-left: -180px; /* A CORRIGER */
}

/* ANGULAR */

.progress-bar-angular {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 50px 0 10px 70px;
    display: flex;
    align-items: center;
}


.progress-bar-fill-angular {
    height: 100%;
    width: 20%;
    background-color: #3d0881;
    border-radius: 10px;
}

.progress-bar-angular p {
    color: #e7e5eb;
    font-size: 20px;
    font-weight: bold;
    margin-left: -95px; /* A CORRIGER */
}

/* FORMULAIRE */

.bar-container p {
    letter-spacing: -1px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-input {
    width: 300px;
    height: 50px;
    margin: 10px;
    border: 2px solid #1808a5;
    border-radius: 5px;
}

.form-textarea {
    width: 620px;
    height: 200px;
    margin: 10px;
    border: 2px solid #1808a5;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    resize: none; /* pour enlever le bouton de redimensionnement */
}

.form-textarea::placeholder {
    margin-top: 5px; /* Ne fonctionne pas, surement a cause du navigateur Moz */
}

.form-input::placeholder {
    color: rgb(0, 0, 1);
    font-size: 12px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

/* .form-row input:focus {
    -moz-appearance: none;  problème pour changer la couleur de l'input  */
    /* outline-color: #3f2de1;
} */


/* ****************** RESP ****************** */

@media screen and (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav ul li {
        margin: 10px 0;
    }
    main {
        padding: 30px 5%;
    }
    .portfolio-item {
        margin: 10px 0;
    }
    
    
}